.springBeans
test-output/
.settings/
.project
.classpath
temp-testng-customsuite.xml
target/
*.tmp_*
tidyErrors.txt
*.origin
*.orig
.svn/
bin/
pom-internal.xml
pom-internal-release.xml
.DS_Store
"/var/*
maven-eclipse.xml
.externalToolBuilders
.gradle/
.idea/
build
