<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="tapestry5-jquery Application Test Suite" annotations="1.5">
   <test name="JQuery Integration Tests"  enabled="true">
    
        <parameter name="tapestry.web-app-folder" value="src/test/webapp"/>
        <parameter name="tapestry.browser-start-command" value="*googlechrome" />
		
		<packages>
    		<package name="org.got5.tapestry5.jquery">
    			<exclude name="org.got5.tapestry5.jquery.unit"></exclude>
    		</package>
    	</packages>
        
    </test>
    <!-- test name="JQuery Unit Tests"  enabled="true">
    	
    	<packages>
    		<package name="org.got5.tapestry5.jquery.unit">
    			<exclude name="org.got5.tapestry5.jquery.unit.spock"></exclude>
    		</package>
    	</packages>
    </test-->
</suite>
